.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  background-color: var(--section-background);
  min-height: 90vh;

  .content {
    max-width: 50%;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--text-color);
    }

    p {
      font-size: 1.2rem;
      color: var(--muted-text-color);
      margin-top: 10px;
    }
  }

  .image {
    max-width: 50%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;

    .content {
      max-width: 100%;
    }

    .image {
      max-width: 80%;
      margin-top: 20px;
    }
  }
}
