.editButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 5px;
  transition: color 0.3s ease-in-out;
  color: var(--secondary-color);

  &:hover {
    color: var(--secondary-color-hover);
  }
}

@media (max-width: 768px) {
  .editButton {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .editButton {
    font-size: 18px;
  }
}
