.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--secondary-color-hover);
  }
}

@media (max-width: 768px) {
  .themeToggle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .themeToggle {
    font-size: 16px;
  }
}
