.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 5px;
  transition: color 0.3s ease-in-out;
  color: rgb(194, 0, 0);

  &:hover {
    color: darkred;
  }
}
