.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 5px;
  transition: color 0.3s ease-in-out;
  color: rgb(194, 0, 0);

  &:hover {
    color: darkred;
  }
}

@media (max-width: 768px) {
  .deleteButton {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .deleteButton {
    font-size: 18px;
    padding: 4px;
  }
}
